// Bg colors
$bgLowZ: #EACFBC;
$bgBlocks: #f0e3da;
// Fonts
$FontText: 'Montserrat', sans-serif;
$FontLora: 'Lora', serif;
$FontSignat: 'Caramel', cursive;
$FontTitleBlock: 'Abel', sans-serif;
$FontHeader: 'Dancing Script', cursive;